aclocal.m4 linguist-generated
build-aux/compile linguist-vendored
build-aux/config.guess linguist-vendored
build-aux/config.sub linguist-vendored
build-aux/install-sh linguist-vendored
build-aux/missing linguist-vendored
config.h.in linguist-generated
configure linguist-generated
configure.scan linguist-generated
m4/ax_prog_scp.m4 linguist-vendored
m4/EbgMacOSXOptions.m4 linguist-vendored
